<%= render "shared/navbar" %>
<div class="container">
  <div class="">
		<h1 class="center">Add Recipe</h1>
		<%= render 'form', recipe: @recipe %>
		<%= link_to 'Back', url_for(:back), class: "button is-light mt-2" %>
	</div>
</div>
<%= render "shared/footer" %>
