<div class="column is-two-fifths-desktop">
	<h1 class="center">Add Ingredient</h1>
	
	<div class='border-form'>
		<%= render 'form', recipe_food: @recipe_food %>
	</dev>

	<%= link_to 'Back', url_for(:back), class: "button is-light mt-2" %>
</div>
